<!-- Modal -->
<div id="addTaskDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form action="/task/create" method="post">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Create Task</h3>
        </div>
        <div class="modal-body">
            <input type="text" name="task" placeholder="Task text">
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" type="submit">Submit Task</button>
        </div>
    </form>
</div>