{% extends "layout.html" %}
{% block title %}Sayit - Uncompleted Tasks{% endblock %}
{% block body %}
    {% if uncompleted_tasks %}
        <div class="hero-unit">
            <div class="row-fluid" id="day-row" value="{{day}}">
                <div class="span12">
                    <h3>Uncompleted Tasks</h3>
                    {% for task in uncompleted_tasks %}
                        <div class="row-fluid">
                            <div class="span11" id="task-row">
                                <ul class="breadcrumb" id="{{task.timestamp}}_title" value="{{task.completed}}">{{task.title}}</ul>
                            </div>
                            <div class="span1 hidden-tablet hidden-phone">
                                <ul class="breadcrumb">
                                    <div class="btn-toolbar">
                                      <div class="btn-group">
                                        <a class="btn" id="editTask" value="{{task.timestamp}}" href="#"><i class="icon-edit"></i></a>
                                        <a class="btn" id="deleteTask" value="{{task.timestamp}}" href="#"><i class="icon-trash"></i></a>
                                      </div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block script %}
    <script>activateMenuSection('uncompleted-tasks');</script>
{% endblock %}
